<div class="control-group">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="control-group">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="control-group">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="control-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>
