<div class="form-horizontal">
  <%= form_for(@property) do |f| %>
    <fieldset>
      <legend>Add new property</legend>

      <%= render 'shared/form', :f => f %>

      <%= f.fields_for :address do |address| %>
        <%= render :partial => 'shared/address', :locals => { :f => address } %>
      <% end %>

      <div class="control-group">
        <%= f.submit "Add Property", :class => "btn btn-success" %>
        <%= link_to "Cancel", root_path, :class => "btn" %>
      </div>
    <% end %>
  </fieldset>
</div>
