<div class="form-horizontal">
  <%= form_for(@property) do |f| %>
    <fieldset>
      <legend>Add new property</legend>

      <div class="control-group">
        <%= f.label :name %>
        <%= f.text_field :name%>
      </div>

      <%= f.fields_for :address do |address| %>
        <%= render :partial => 'shared/address', :locals => { :f => address } %>
      <% end %>

      <div class="control-group">
        <%= f.label "Type of property" %>
        <%= collection_select :property, :type_id, TypeOfProperty.all, :id, :name, :prompt => true %>
      </div>

      <div class="control-group">
        <%= f.label "Legal Documents" %>
        <%= file_field :property, :legal_docs %>
      </div>

      <div class="control-group">
        <%= f.submit "Add Property", :class => "btn btn-success" %>
        <%= link_to "Cancel", root_path, :class => "btn" %>
      </div>
    <% end %>
  </fieldset>
</div>
