<h1><%= @property.name %></h1>

<br /><h3><%= link_to "Edit", edit_property_path(@property) %></h3>

<table class="table table-bordered">
  <tr>
    <th>Address</th>
    <td>
      <%= "#{ @property.address.line1 } #{ @property.address.line2 unless nil }, #{@property.address.city}, #{@property.address.state}." %>
    </td>
  </tr>
  <tr>
    <th>Type</th>
    <td><%= TypeOfProperty.find(@property.type_id).name %></td>
  </tr>

  <tr>
    <th>Nos of flats</th>
    <td> 6 </td>
  </tr>

  <tr>
    <th>Nos of bedrooms per flat</th>
    <td>3, 3 beds. 2, 2 beds.</td>
  </tr>

</table>

<%= link_to "Back", properties_path %>
