<div class="control-group">
  <%= f.label :line1, "Address 1" %>
  <%= f.text_field :line1 %><br /><br />

  <%= f.label :line2, "Address 2" %>
  <%= f.text_field :line2 %><br /><br />

  <%= f.label :city %>
  <%= f.text_field :city %><br /><br />

  <%= f.label :state %>
  <%= f.select :state, nigerian_states, :prompt => true %><br />
</div>
