<!DOCTYPE html>
<html>
<head>
  <title>The Abode</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "bootstrap.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <div class="row-fluid">

      <div class="span2">
        <!--Span goes here -->
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Logout", "#" %></li>
          <li><%= link_to "About", "#" %></li>
        </ul>
      </div>

      <div class="span10">
        <!--Body goes here -->
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
