<!DOCTYPE html>
<html>
<head>
  <title> <%= title %> </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "bootstrap.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <div class="row-fluid">

      <div class="span2">
        <!--Span goes here -->
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to "Home", root_path %></li>
        <% if signed_in? %>
          <li><%= link_to "Profile", "#" %></li>
          <li><%= link_to "Sign out", signout_path %></li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
        </ul>
      </div>

      <div class="span10">
        <!--Body goes here -->
        <% if flash[:error] %>
          <div class="alert alert-error">
            <%= flash[:error] %>
          </div>
        <% end %>

        <% if flash[:success] %>
          <div class="alert alert-success">
            <%= flash[:success] %>
          </div>
        <% end %>

        <% if flash[:notice] %>
          <div class="alert alert-info">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
